/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; // floatを使った場合の対策
}

/* サイトタイトル部分の高さや文字の配置など */

.header{
  background-color: gray;
  height: 80px;}

.header__title{
  color: #000000;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}
/* グローバルナビ */
.global-nav{
  width: 980px;
  margin: 0 auto;
}

.global-nav__items{
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: between;
 }

/* 均等配置 */
.global-nav__items li { flex: auto; -webkit-flex: auto;
}

 /* 色を交互に */
 .global-nav__item:nth-child(even){
   background-color: #A9A9A9;
 }

 .global-nav__item:nth-child(odd){
   background-color: #DCDCDC;
 }

 /* パンくずリストを横並びに */
 .bread-crumbs__items{
   display: flex;
 }

 .bread-crumbs__items li{
   height: 30px;
   display: flex;
   align-items: center;
 }

 /* 広告バナーを横並びに */
.top-ads{
  box-sizing: border-box;
  width: 980px;
  background-color: #DCDCDC;
  padding: 25px;
  margin: 10px auto;
}

.top-ads__items{
  display: flex;
  padding: 0 8px;
}

.top-ads__item{
  flex: 1;
  margin: 0 -10px;
}

.top-ads__image {
    max-width: 100%;
}

/* 大枠のレイアウト配置 */

.body{
  display: flex;
}

.aside{
  order: -1;
}

.main{
 　order: 0;
  background-color: white;
}

.footer{
  display: flex;
  background-color: #3b3b3b;
}

.footer-nav{
  display: flex;
  order: 0
}

.about-author{
  order: 1;
  background-color: #DCDCDC;
}

.footer-copyright{
  order: 0;
  align-self: flex-end;
  background-color: white;
}
