/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; // floatを使った場合の対策
}

/* サイトタイトル部分の高さや文字の配置など */

.header{
  background-color: gray;
  height: 80px;
}

.header__title{
  color: #000000;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}

/* グローバルナビ*/
.global-nav{
  width: 980px;
  margin: 0 auto;
}

.global-nav__items{
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: between;
 }


/*均等配置*/
.global-nav__items li { flex: auto; -webkit-flex: auto;
}


/*色を交互に*/
.global-nav__item:nth-child(even){
  background-color: #A9A9A9;
}

.global-nav__item:nth-child(odd){
  background-color: #DCDCDC;
}

/* パンくずリストを横並びに */
.bread-crumbs__items{
  display: flex;
}

.bread-crumbs__items li{
  height: 30px;
  display: flex;
  align-items: center;
}

/* パンくずリストに">"を追加 */
.bread-crumbs__items li:not(:last-child)::after{
  content: ">";
  margin-left: 6px;
  margin-right: 6px;
}

/* 広告バナーを横並びに */
.top-ads{
  box-sizing: border-box;
  width: 980px;
  background-color: #DCDCDC;
  padding: 10px;
  margin: 5px auto;
}

.top-ads__items{
  display: flex;
}

.top-ads__item{
  flex: 1;
  padding: 0px 8px;
 }

.top-ads__image {
  max-width: 100%;
}

/* 大枠のレイアウト配置 */

.body{
  display: flex;
}

.aside{
  order: -1;
}

.main{
  order: 0;
  background-color: #e6e6e6;
}

.footer{
  display: flex;
  background-color: #3b3b3b;
  flex-wrap: wrap;
}

.footer-nav{
  display: flex;
  order: 0;
  flex-basis: 50%;
}

.about-author{
  order: 1;
  background-color: #DCDCDC;
  flex-basis: 50%;
}

.footer-copyright{
  order: 2;
  flex-basis: 100%;
  text-align: center;
  background-color: white;
}

/* ページタイトル */
.main-header{
  margin: -5px auto;
  background-color: white;
  height: 80px;
  -webkit-box-shadow: 1px 1px 1px 1px #dadada; /* ボックスの下に色をつけた*/
  box-shadow: 1px 1px 1px 1px #dadada;
}

.main-header__title{
  font-size: 30px;
  font-weight: bold;
}


/* 記事タイトル */
.article__title{
  font-size: 25px;
  margin: 20px 10px;
  font-weight: bold;
}

/* 段落 */
.article__paragraph{
  margin: 20px 10px 10px 10px;
}

/* 記事の一部を太字に */
.article__strong{
  font-weight: bold;
}

/* 記事見出し */
.article__sub-title{
  margin: 20px 10px;
  font-size: 25px;
  font-weight: bold;
}

/* 番号なしリスト */
.article__unorder-list-item{
  margin: 20px 10px;
}

/* 引用文内 */
.article__blockquote{
  margin: 20px 10px;
}

/* 小見出し */
.article__sub-sub-title{
  margin: 20px 10px;
  font-weight: bold;
}

/* 番号ありリスト */
.article__order-list-item{
  margin: 20px 10px;
}

/* 唐揚げ画像のサイズ調整 */
.article__image{
  width: 95%;
  margin: 20px 15px;
}


/* 問い合わせフォーム
.form{
  background-color: white;
}

.form-item{
  text-align:　center;
} */

/* 広告バナーの周囲に余白を設定 */
.aside-ads__item{
  margin: 10px 15px;
}
